# United States - Crime Rates - 1960 - 2014

### Intro:

Спасибо https://github.com/justmarkham за датасет и материалы

### Step 1. Импортируйте либы

In [287]:
import pandas as pd

### Step 2. Импортируйте датасет отсюда [link](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [273]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

--2019-04-06 17:08:38--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.244.133
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|151.101.244.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа... 200 OK
Длина: 5052 (4,9K) [text/plain]
Сохранение в каталог: ««US_Crime_Rates_1960_2014.csv.1»».

US_Crime_Rates_1960 100%[===================>]   4,93K  --.-KB/s    in 0s

2019-04-06 17:08:38 (55,2 MB/s) - «US_Crime_Rates_1960_2014.csv.1» сохранён [5052/5052]

In [ ]:
!head US_Crime_Rates_1960_2014.csv

### Step 3. Загрузите в переменную crime

In [289]:
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv', sep=',')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. Посмотрите на тип колонок.

In [290]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Year в типе int64. У pandas есть встроенный тип для работы с Временными рядами (Time Series)

### Step 5. Конвертируйте тип Year в pd.datetime64

In [291]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Установите Year как index нашего датафрейма

In [292]:
crime.set_index('Year', drop=True, inplace=True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Удалите колонку Total

In [293]:
crime = crime.drop(['Total'], axis=1)
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Сгруппируйте года по декадам и просуммируйте некоторые значения.

#### Осторожнее с Population, суммирование этой колонки - неправильно. Что вместо этого с ней лучше сделать?

In [280]:
# группировка по декадам
crime_decades = crime.groupby(lambda x: x.year // 10)

# среднее по населению
print(f"Decades Population mean:\n{crime_decades.Population.mean().astype(int)}")
# crime_decades.agg({'Population': 'mean'}).astype(int)

# сумма по остальным полям
print(f"\nDecades sum:\n{crime_decades[crime.columns[1:]].sum()}")

# среднее по населению и сумма по остальным полям (способ второй)
crime_decades.agg(dict(zip(crime.columns, ['mean'] + ['sum'] * (len(crime.columns)-1))))

Decades Population mean:
196    191505317
197    212119329
198    237137006
199    261282525
200    294796911
201    314029261
Name: Population, dtype: int64

Decades sum:
      Violent   Property  Murder  Forcible_Rape  Robbery  Aggravated_assault  \
196   4134930   45160900  106180         236720  1633510             2158520
197   9607930   91383800  192230         554570  4159020             4702120
198  14074328  117048900  206439         865639  5383109             7619130
199  17527048  119053499  211664         998827  5748930            10568963
200  13968056  100944369  163068         922499  4230366             8652124
201   6072017   44095950   72867         421059  1749809             3764142

     Burglary  Larceny_Theft  Vehicle_Theft
196  13321100       26547700        5292100
197  28486000       53157800        9739900
198  33073494       72040253       11935411
199  26750015       77679366       14624418
200  21565176       67970291       11412834
201  10125170       30401698        3569080

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
196,191505317.5,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
197,212119329.8,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
198,237137006.9,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
199,261282525.8,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
200,294796911.7,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
201,314029261.4,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. Какая самая опасная декада в US?

In [281]:
# группировка по декадам
crime_decades = crime.groupby(lambda x: x.year // 10)

# Total ~= Violent + Property
decade = crime_decades.agg(arg={'Violent': 'sum', 'Property': 'sum'}).sum(axis=1).idxmax()
print(f"Самая опасная декада: {decade}")

Самая опасная декада: 199